In [1]:
%load_ext ipython_magic.trino

%config Trino.host='localhost'
%config Trino.port=8080
%config Trino.httpScheme='http'
%config Trino.auth=None
%config Trino.user='the-user'

%config Trino.cacheTTL=3600
%config Trino.outputFile="/tmp/trinodb.schema.json"

# comma seperated list of schema to cache in the schema file
%config Trino.catalogs="system,tpch"

In [2]:
table_name = "tpch.tiny.orders"

In [3]:
%%trino --limit 3
SELECT
    *
FROM
    {{ table_name }}

TTL 3600 seconds expired, re-generating schema file: /tmp/trinodb.schema.json
Schema file updated: /tmp/trinodb.schema.json

In [4]:
%%trino --limit 3
/*
this is a comment which happens to contain a jinja template
variable {{x}}
*/

SELECT
    *
FROM
    {{ table_name }}

A Jinja template variable named {x} was located in your SQL statement.

However Jinja was unable to substitute it's value because the variable "x" was not found in your ipython kernel.

Option 1: If you intended to use a template variable make sure to assign a value to "x"


Option 2: If you intended to include "{{" in your statement then you'll need to escape this special Jinja variable delimitere.

To have Jinja ignore parts it would otherwise handle as variables or blocks. For example, if, with the default syntax, you want to use {{ as a raw string in a template and not start a variable, you have to use a trick.

The easiest way to output a literal variable delimiter "{{" is by using a variable expression:

{{ '{{' }}

For bigger sections, it makes sense to mark a block raw. For example, to include example Jinja syntax in a template, you can use this snippet:

%%trino --limit 3
{% raw %}
/*
This is a comment which happens to contain a jinja template
variable {{x}} that we want to keep as is.
*/
{% endraw %}

SELECT
    *
FROM
    {{ table_name }}


Raising an error to prevent statement from being executed incorrectly.

UndefinedError: 'x' is undefined

In [5]:
%%trino --limit 3
{% raw %}
/*
this is a comment which happens to contain a jinja template
variable {{x}}
*/
{% endraw %}

SELECT
    *
FROM
    {{ table_name }}

In [6]:
%%trino  --print
{% raw %}
/*
this is a comment which happens to contain a jinja template
variable {{x}}
*/
{% endraw %}

SELECT
    *
FROM
    {{ table_name }}

'\n/*\nthis is a comment which happens to contain a jinja template\nvariable {{x}}\n*/\n\n\nSELECT\n    *\nFROM\n    tpch.tiny.orders'