In [ ]:
%%sparksql --dataframe df -c --eager -v MY_VIEW --limit 12 -f adir/out.json -t 60
-- cell magic
SELECT *
FROM student AS cellmagic

In [ ]:
%sparksql -d df SELECT * from student where x=1

In [ ]:
%sparksql --dataframe df -c --eager -v MY_VIEW --limit 12 -f adir/out.json -t 60 SELECT * from student -- line magic using no argument options like --eager

In [ ]:

%sparksql SELECT * FROM tab WHERE x = 1


# select is not be highlighted anymore, but it does require a blank line (line 3 above)
%sparksql  --cache   SELECT * FROM tab WHERE x = 2

%sparksql --cache SELECT * FROM tab WHERE x = 3

In [ ]:
# mix python and SQL

# python import
import pyspark

%sparksql SELECT s.age FROM student AS linemagic1 -- line magic in a mix cell

%sparksql SELECT s.age FROM student AS linemagic2 -- another line magic in a mix cell

# a python string with SQL within it
sql = '''
--start-sparksql anything here is ignored and is not included in the SQL statement for LSP
select s.age from student as frompythonstring
--end-sparksql
'''

# back to python
print(sql)

spark.sql(sql).show()

In [4]:
%%bash
rm ../../.virtual_documents/jupyterlab_sql_editor/example/*

In [1]:
%%bash
ls -lhn ../../.virtual_documents/jupyterlab_sql_editor/example/

total 80
-rw-r--r--  1 501  20   1.7K 31 Aug 22:44 SparkSqlSyntaxAndLSP.ipynb
-rw-r--r--  1 501  20    76B 31 Aug 22:44 SparkSqlSyntaxAndLSP.ipynb.python-14(sql).sql
-rw-r--r--  1 501  20    68B 31 Aug 22:44 SparkSqlSyntaxAndLSP.ipynb.python-15(sql).sql
-rw-r--r--  1 501  20    47B 31 Aug 22:44 SparkSqlSyntaxAndLSP.ipynb.python-16(sql).sql
-rw-r--r--  1 501  20    31B 31 Aug 22:44 SparkSqlSyntaxAndLSP.ipynb.python-17(sql).sql
-rw-r--r--  1 501  20    30B 31 Aug 22:44 SparkSqlSyntaxAndLSP.ipynb.python-18(sql).sql
-rw-r--r--  1 501  20    30B 31 Aug 22:44 SparkSqlSyntaxAndLSP.ipynb.python-19(sql).sql
-rw-r--r--  1 501  20    75B 31 Aug 22:44 SparkSqlSyntaxAndLSP.ipynb.python-20(sql).sql
-rw-r--r--  1 501  20    62B 31 Aug 22:44 SparkSqlSyntaxAndLSP.ipynb.python-21(sql).sql
-rw-r--r--  1 501  20    49B 31 Aug 22:44 SparkSqlSyntaxAndLSP.ipynb.python-22(sql).sql

In [2]:
%%bash
cat ../../.virtual_documents/jupyterlab_sql_editor/example/*.sql

SELECT s.age FROM student AS linemagic2 -- another line magic in a mix cell
SELECT s.age FROM student AS linemagic1 -- line magic in a mix cell
select s.age from student as frompythonstring

SELECT * FROM tab WHERE x = 3
SELECT * FROM tab WHERE x = 2
SELECT * FROM tab WHERE x = 1
SELECT * from student -- line magic using no argument options like --eager
SELECT * from student -- line magic first line of cell uses ^
-- cell magic
SELECT *
FROM student AS cellmagic