    Normally IPython only displays the output of the last statement. However it can be handy to run multiple sql magics in a single cell and see the output of each execution. Setting `ast_node_interactivity` to `all` will enable that.

In [1]:
# Display all cell outputs in notebook
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
%load_ext ipython_magic.trino

In [3]:

%config Trino.host='localhost'
%config Trino.port=8080
%config Trino.httpScheme='http'
%config Trino.auth=None
%config Trino.user='the-user'

%config Trino.cacheTTL=3600
%config Trino.outputFile="/tmp/trinodb.schema.json"

# comma seperated list of schema to cache in the schema file
%config Trino.catalogs="system,tpch"

    In production environment you will want to pass in an authentiction

```python
    import trino
    %config Trino.auth=trino.auth.BasicAuthentication("principal id", "password")
    %config Trino.user=None
```
    See https://github.com/trinodb/trino-python-client/blob/master/trino/auth.py for more details

In [4]:
%trino SELECT 'hello'

In [5]:
#%trino SHOW CATALOGS

In [8]:
%%trino --limit 2 --output sql
SELECT *
FROM
    tpch.tiny.orders AS ord

'SELECT *\nFROM\n    tpch.tiny.orders AS ord'

In [7]:
%%trino --limit 2 --dataframe x --output grid
SELECT
    ord.orderkey,
    ord.custkey,
    ord.orderstatus,
    ord.totalprice,
    ord.orderdate,
    ord.orderpriority,
    ord.clerk,
    ord.shippriority,
    ord.comment
FROM
    tpch.tiny.orders AS ord

Saved results to pandas dataframe named `x`
Only showing top 2 row(s)

DataGrid(auto_fit_params={'area': 'all', 'padding': 30, 'numCols': None}, corner_renderer=None, default_renderâ€¦

In [7]:
%%trino
SELECT
    lin.orderkey,
    lin.partkey,
    lin.suppkey,
    lin.linenumber,
    lin.quantity,
    lin.extendedprice,
    lin.discount,
    lin.tax,
    lin.returnflag,
    lin.linestatus,
    lin.shipdate,
    lin.commitdate,
    lin.receiptdate,
    lin.shipinstruct,
    lin.shipmode,
    lin.comment,
    ord.orderpriority
FROM
    tpch.sf1000.lineitem AS lin
    INNER JOIN tpch.sf1.orders AS ord ON ord.orderkey = lin.orderkey

In [9]:
%%trino?

Docstring:
::

  %trino [-l max_rows] [-r all|local|none] [-d name]
             [-o sql|json|html|grid|skip|none]
             [sql [sql ...]]

Magic that works both as %trino and as %%trino

positional arguments:
  sql                   SQL statement to execute

optional arguments:
  -l max_rows, --limit max_rows
                        The maximum number of rows to display. A value of zero
                        is equivalent to `--output skip`
  -r <all|local|none>, --refresh <all|local|none>
                        Force the regeneration of the schema cache file. The
                        `local` option will only update tables/views created
                        in the local Spark context.
  -d name, --dataframe name
                        Capture results in pandas dataframe
  -o <sql|json|html|grid|skip|none>, --output <sql|json|html|grid|skip|none>
                        Output format. Defaults to html. The `sql` option
                        prints the SQL statement that will be executed (useful
                        to test jinja templated statements)
File:      /data/dev/jupyterlab_sql_editor/ipython_magic/trino/trino.py

In [9]:
%trino --refresh all

Schema file updated: /tmp/trinodb.schema.json